{% extends 'admin/base_site.html' %}
{% block title %}Celery Monitoring Page{% endblock %}
{% block content %}
    <div class='module'>
        <table summary='Celery Workers'>
            <thead>
            <tr>
                <th>
                    Worker
                </th>
                <th>
                    Status
                </th>
                <th>
                    Concurrency
                </th>
                <th>
                    Broker Transport
                </th>
                <th>
                    Broker Hostname
                </th>
                <th>
                    Broker Port
                </th>
            </tr>
            </thead>
            <tbody>
            {% for worker in dashboard.workers %}
                <tr>
                    <td>
                        {{ worker.name }}
                    </td>
                    <td>
                        {{ worker.status }}
                    </td>
                    <td>
                        {{ worker.concurrency }}
                    </td>
                    <td>
                        {{ worker.broker.transport }}
                    </td>
                    <td>
                        {{ worker.broker.hostname }}
                    </td>
                    <td>
                        {{ worker.broker.port }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <div class='module'>
        <table summary='Celery Registered Tasks'>
            <thead>
            <tr>
                <th>
                    Task
                </th>
                <th>
                    Workers
                </th>
                <th>
                    Operation
                </th>
            </tr>
            </thead>
            <tbody>
            {% for task, workers in dashboard.registered_tasks.items %}
                <tr>
                    <td>
                        {{ task }}
                    </td>
                    <td>
                        <ul>
                            {% for worker in workers %}
                                <li>
                                    {{ worker }}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                <td>
                    <input type="submit" value="Execute" onclick="executeTaskAsync('{{ task }}')">
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}